/* 1.Header
   2.Welcome
   3.How
   4.Service
   6.Contact Us
   7.Footer
   #. Conecting Fonts
   #. Geometric
*/

/*
    Parallax Prop
*/
#parallaxBackground{
background-image: url('../img/bg5.jpg') ;
}
.mouse-bg {
left: 0;
right: 0;
bottom: 0;
top: 0;
position: fixed;
z-index: -1;
    -moz-transition:left .5s ease-out, right .5s ease-out,      top .5s ease-out,bottom .5s ease-out;
    -o-transition:left .5s ease-out, right .5s ease-out,        top .5s ease-out,bottom .5s ease-out;
    -webkit-transition:left .5s ease-out, right .5s ease-out,   top .5s ease-out,bottom .5s ease-out;
    transition:left .5s ease-out, right .5s ease-out,           top .5s ease-out,bottom .5s ease-out;


}

/*
    ---------------------------------------------||
*/
/*
    Anchor Prop
*/
#contact_anchor, #case_anchor, #service_anchor, #how_anchor {
    height: 1px;
    position: absolute;
    width: 100%;
}
#contact_anchor{top:7298px}
#case_anchor{top:6342px}
#service_anchor{top:5390px}
#how_anchor{top:2223px}
/*
    SVG prop
*/
#SVG_canvas{
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
}
#SVG_canvas path{
    transition:stroke-dashoffset 0.7s;
}
 /*
     -----------------------------1.Header-----------------------------
 */
 #header{
     display:block;
 }

#Mymenu
{
    position:relative;
    z-index:999;
}

 .navbar-brand{
  padding: 0 !important;
  height:44px;
  width: 175px;
  margin: 20px auto 0 auto;
 }

 .nav {

       width: 700px;
       height: 35px;
       margin: 20px auto 0px;

 }


    .nav li.active > a {
        background:none !important;
    }

.nav li a{

     /*height:0;*/

     
     text-align: center;
     font-family:Alef;
     font-size:20px;
     font-style:italic;
     color:#fff;
 }


.li_a {

    padding:0 !important;

}

   li a:visited{
     
     outline: none; 
  
 }

 li a:hover{
     font-weight:bold;
 }

 
 li a:focus{
     
     outline: none; 
  
 }


li a.scrolling:active:before{
    content:"";
       width: 13px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  top: 23px;
  left: 7px;
  
}
li a.scrolling:active:after{
        content: "";
  width: 89%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 7px;
  top: 24px;
}
.nav  li{
  
     /*text-align:center;
     font-family:Alef;
     font-size:20px;
     font-style:italic;
     color:#fff;*/
     
 }
 /*.navbar-center{
     padding-bottom:14px;
     width:700px;
     height:35px;
     margin:40px auto 0px;
 }*/
 .opac-layout-50{
    
      /*position: fixed;*/ 
      /*width: 100%;*/
      background: rgba(0,0,0,0.8);
      /*z-index: 20;*/
}
#welcome

{

    margin-top: -42px !important;
    display:block !important;
    height:585px !important;

}
.oran-grad{
    position:absolute;
    z-index:0;
} 

#what+hr
.lil-grad{
  position: absolute;
  z-index: 0;
  left: 16px;
  top: 183px;
}
.lil-grad img{
    position:relative;
    z-index:2;

    width:1100px;
}
.prisma{
    position:absolute;
    left:345px;
    z-index:3;
    top: 580px;
    opacity:0;
    -moz-animation:slidePrism 1s ease-out 1s forwards;
    -o-animation:slidePrism 1s ease-out 1s forwards;
    -webkit-animation:slidePrism 1s ease-out 1s forwards;
    animation:slidePrism 1s ease-out 1s forwards;
}
 @keyframes slidePrism{
     from{
         top:580px;
             opacity:0;
     }
     to{
         top:62px;
             opacity:1;
     }
 }
 @-moz-keyframes slidePrism{
     from{
         top:580px;
             opacity:0;
     }
     to{
         top:62px;
             opacity:1;
     }
 }
  @-webkit-keyframes slidePrism{
     from{
         top:580px;
         opacity:0;

     }
     to{
         top:62px;
         opacity:1;
     }
 }
.shadow{
    position:absolute;
     left:400px;
    top: 550px;
    z-index: 1;
    opacity:0;
    -moz-animation:slideShadow 1s ease-out 1s forwards;
    -o-animation:slideShadow 1s ease-out 1s forwards;
    -webkit-animation:slideShadow 1s ease-out 1s forwards;
    animation:slideShadow 1s ease-out 1s forwards;
}
 @keyframes slideShadow{
     from{
         top:550px;
             opacity:0;
     }
     to{
         top:167px;
         opacity:1;
     }
 }
 @-moz-keyframes slideShadow{
     from{
         top:550px;
             opacity:0;
     }
     to{
         top:167px;
         opacity:1;
     }
 }
  @-webkit-keyframes slideShadow{
     from{
         top:550px;
             opacity:0;
     }
     to{
         top:167px;
         opacity:1;
     }
 }
.welc{
    position:absolute;
    z-index:4;
    left:923px;
    top:150px;
    opacity:0;
    -moz-animation:slideWelc 1s ease-out 1s forwards;
    -o-animation:slideWelc 1s ease-out 1s forwards;
    -webkit-animation:slideWelc 1s ease-out 1s forwards;
    animation:slideWelc 1s ease-out 1s forwards;

}
 @keyframes slideWelc{
     from{
    left:923px;
             opacity:0;
     }
     to{
    left:650px;
         opacity:1;
     }
 }
 @-moz-keyframes slideWelc{
     from{
    left:923px;
             opacity:0;
     }
     to{
    left:650px;
         opacity:1;
     }
 }
  @-webkit-keyframes slideWelc{
     from{
    left:923px;
             opacity:0;
     }
     to{
    left:650px;
         opacity:1;
     }
 }
/*
    3.What
*/
#what{
    display:block;
}
.assets img{
    display:block;
    width:45px;
    margin:0px auto 15px;

}
.assets {

    display:block;
    z-index:15;
    border-top: 1px solid #fff;
    width: 44px;
    padding-top: 6px;
    position: absolute;
    top: -33px;
    left: 168px;
    -moz-transition: padding-top 1s;
    -o-transition: padding-top 1s;
    -webkit-transition: padding-top 1s;
    transition: padding-top 1s;
}
.assets:hover{
    padding-top:20px;
}

div h2 {
    width: auto;
    height:47px;
    text-align: center;
    font-family: Bevan;
    font-size: 57px;
    color: #fff;
    margin: 80px 0px 0px 0px;
    line-height: 51px;
}
div.span+p{
    width:auto;
    text-align:center;
    padding:20px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    color:#fff;
    font-family:alef;
    font-size:20px;
}
.opac-line{
    width:250px;
    opacity:0.3;
      top: 15px;
  position: relative;

}
 div.span{
    width: 100%;
    text-align: center;
    font-family: Alef;
    font-style: italic;
    font-size: 24px;
    padding: 6px 60px 10px;
    color: #fff;
    position:relative;
}
.squer{
    position:absolute;
    left:0px;
    bottom:-2px;
    width:20px;
    height:4px;
    background-color:#fff
}
.RXD {
    margin-top: 80px;
    height:86px;
    width: 390px;
    background-image: url('../img/bg-rxd.png');
    position:relative;
}
.RXD p{
    line-height:86px;
    width:100%;
    font-family:Alef;
    font-weight:bold;
    font-size:32px;
    text-align:center;
    color:#fff;
    letter-spacing:10px;
}
.RXD+p{
     width:100%;
    font-family:Alef;
    font-size:12px;
    text-align:center;
    color:#fff;
    margin-top:15px;
    word-spacing:2px;
}
 .RXD-info{
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #000;} 
  .RXD-info span{
        display: block;
  width: 100%;
  font-family: Alef;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-top: 15px;
  }
 .RXD-info p{
       width: 60%;
  margin: 0px auto;
  font-family: Alef;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #000;
  letter-spacing: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  line-height: 18px;
 }
  .RXD-info p:before{
  content:"";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: #000;
  top: 90px;
  left: 42px;
  }

  .RXD-info-corner{
  position: absolute;
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 100%;
  top: 28px;
  left: -80px;
  z-index: 1;
  display:none;


  }
  .RXD-info-head{  font-family: Alef;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 100%;
  background-color: #52b2cf;
  line-height: 55px;}

.circle{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:100%;
    padding:2px;
    border:1px solid #fff;
}

.circle-top-1{
    top:-11px;
    left:65px;
}
.circle-top-2{
    top:-11px;
    left:165px;
}
.circle-bot{
    bottom:-11px;
    right:75px;
}
.circle .plus {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
.circle .plus:hover{
    background-color:#52b2cf;
}
.mans{
  position: relative;
  width: 700px;
  height: 100px;
  margin: 0px auto 35px;
}
.hex-container{
    width:100%;
    height:270px;
}
.hum-line-container{
    width:630px;
    height:30px;
    border-left:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(255,255,255,0.5);
    padding:10px 30px 5px;
    float:left;
}
.hum-line{
    height:13px;
    box-shadow: 0px 2px 4px 1px #000000 inset;
    background-color:#111014;
    -webkit-box-shadow:0px 2px 4px 1px #000000 inset;
    -moz-box-shadow:0px 2px 4px 1px #000000 inset;
}
.pointer-1{left:60px;}
.pointer-2{left:411px;}
.pointer-3{left:609px;}
.hum-dot {
    width:20px;
    height:22px;
    float:left;
    margin: 4px 7px 0px;
}
.figures{
    width:100%;
    height:80px;
}
div.figures img{
    position:relative;
}
.basket{left: 563px;top: 17px;}
.miksher{
    position:relative;
    width:700px;
    height:390px;
    margin:0px auto;
    border-top:1px solid rgba(255,255,255,0.1);
}
.miksher>div{
    float:left;
}
.reach,.desirability{
     background: url('../img/lines.png') no-repeat;
  background-position: 50% 39px;
  width: 150px;
  height: 256px;
  margin-left: 80px;
  margin-top: 50px;
}
.reach p,.desirability p{
  font-family: alef;
  font-size: 70px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  margin-top: 7px;
}
.reach span,.desirability span{
    display: block;
  font-size: 27px;
  font-family: alef;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-top:20px;
}
.line-mik{
  width: 10px;
  height: 90px;
  margin: 20px auto 0px;
}
.btn-mik img{
  display: block;
  margin: 0px auto;
}
.non-active {
    background-color: #232129;
    -webkit-box-shadow: 0px 0px 4px 2px #000 inset;
    -moz-box-shadow: 0px 0px 4px 2px #000 inset;
    box-shadow: 0px 0px 4px 2px #000 inset;
}
.active-p {
    background-color: #d6b83c;
    margin: 0px auto;
    -webkit-box-shadow: 0px 0px 4px 2px #000 inset;
    -moz-box-shadow: 0px 0px 4px 2px #000 inset;
    box-shadow: 0px 0px 4px 2px #000 inset;
}
.active-p-red {
    background-color: #f35151;
    margin: 0px auto;
    -webkit-box-shadow: 0px 0px 4px 2px #000 inset;
    -moz-box-shadow: 0px 0px 4px 2px #000 inset;
    box-shadow: 0px 0px 4px 2px #000 inset;
}
.Ep{
  position: relative;
  top: 184px;
  left: 46px;
}
.Ep span{
      display: block;
  margin-left: 64px;
  margin-top: -24px;
  font-family: Alef;
  font-size: 27px;
  font-weight: bold;
}
.numbers{
  position: absolute;
  top: 97px;
  left: 263px;
  z-index: 10;
}
.btn-num {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f3f3f3;
    font-family: alef;
    text-align: center;
    font-size: 24px;
    border: 1px transparent #000;
    margin: 0 10px;
    
    -webkit-box-shadow: 0 0 4px 1px #000 inset;
    -moz-box-shadow: 0 0 4px 1px #000 inset;
    box-shadow: 0 0 4px 1px #000 inset;
}
    .btn-num:hover {
        background-color: #696a6a;
        color: #000;
        -webkit-box-shadow: 0px 3px 9px 2px #000 inset;
        -moz-box-shadow: 0px 3px 9px 2px #000 inset;
        box-shadow: 0px 3px 9px 2px #000 inset;
    }
/*
    -----------------------------3. How-----------------------------
*/
#how{
    display:block;
    height: 3122px;
}
#how h3,
#case h3{
    width: 377px;
    text-align: center;
    font-family: Bevan;
    font-size: 57px;
    color: #fff;

    padding:15px 0;
    margin:80px auto;
    
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#how h3 { font-size: 54px; }

#case h3{  margin: 80px auto 0px;}

.brain{
    left: 610px;
    top:189px;
}
.how-graphics{
      display: block;
  width: 100%;
  height: 2207px;
}
.how-graphics div{
    float:left;
    position:absolute;
}
.icon3 div{
    position:relative;
    float:none;
}
.three-icon-image{
  width: 69px;
  height: 65px;
  background-image: url('../img/3_icons.png');
}
.heart-icon{
      background-position: -2px -6px;
}
.brain-icon{
      background-position: -1px -81px;
}
.infinity-icon{
    background-position: -2px 71px;
}
.heart-icon:hover{
      background-position: -74px -6px;
}
.brain-icon:hover{
    background-position: -73px -81px;
}
.infinity-icon:hover{
    background-position: -74px 71px;
}


.EDGE-255909414 {
    top:-130px;
    margin: 0 auto;
    background-color:transparent !important;
}

.edgeLoad-EDGE-255909414
{ 
    
    visibility:hidden; 

}
.three-icon-line{
  height: 11px;
  width: 1px;
  border-right: 1px solid #FFF;
  margin: 0px auto;
}
.text-box{
  width: 330px;
  left: 170px;
  top: 575px;
}
.text-box2{
top: 1240px;
}
.text-box p{
    width:100%;
    padding-bottom:15px;
    border-bottom:1px solid #fff;
    font-family:alef;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    color:#fff;
}
.text-box span{
    display:block;
    width:100%;
    font-family:alef;
    font-size:18px;
    text-align:left;
    color:#fff;
}


.big-man{
      z-index: -1;
  left: 178px;
  top: 510px;
}
.heart{
      left: 536px;
      top: 986px;
}
.infinity{
  
  height:373px;
  position: relative;
  text-align: center;
  top: -140px;
  left: 8px;
}
.Fr-Fe{
  font-family: alef;
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 230px;
  height: 85px;

  position: relative;
  top: 178px;
  left: 455px;
  z-index:5;

  border: 2px solid #fff;
  border-radius: 51px;
  
  
  background-color: rgba(33,33,33,0.91);
  vertical-align: middle;
  line-height: 79px;
}
.circ-1,.circ-2{
     width:17px;
    height:17px;
    border-radius:100%;
    background-color:#fff;float:left;
    margin:0px auto;
    z-index:7;
}
.circ-1{
  position: absolute;
  top: 210px;
  left: 448px;
}
.circ-2{
  position: absolute;
  top: 210px;
  right: 477px;
}


#heart_small 
{
    position:relative;
    top:70px;
    left:-360px;
    text-align:left;
}

#brain_small 
{
    position:relative;
    top:-322px;
    left:360px;
    text-align:right;
}

.infinity+div{
  width: 522px;
  margin: -204px auto;
}
.infinity+div p{
  font-size: 18px;
  font-family: Alef;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #fff;
  margin-top: 25px;
}
.infinity+div h2{
  font-size: 28px;
  font-family: Alef;
  font-weight: bold;
}
.determin span{
    font-size: 14px;
  font-family: Alef;
  color: #fff;
  display: block;
  margin: 25px 0px;
}
.determin{
    margin-top:50px;
}
span.bold-span{
    margin:0px;
    font-weight:bold;
    display:inline;
}
#how+hr,
#what+hr,
#service+hr{

  width: 732px;
  border-top:1px solid rgba(255,255,255,0.1);
  margin-top: 45px;
}

#what + hr {

    margin-bottom:0;

}

/*
    ---------------------------MIKSHER-------------------------
*/
span.ui-slider-handle {
    background-image: url('../img/range.png') !important;
    border: none !important;
    border-radius: 0 !important;
    width: 26px !important;
    height: 26px !important;
    left: -9px !important;
    -webkit-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.7);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.7);
}

        .ui-widget-content {
            border-radius: 0 !important;
            border-color: #212123 !important;
            width: 8px !important;
            height: 215px !important;
        }

        #slider-vertical-left.ui-widget-content {
            
            background: -moz-linear-gradient(left, #0f0f11 0, #121116 50%, #0f0f11 100%) 50% 50% repeat-x !important;          
            background: -webkit-linear-gradient(left, #0f0f11 0, #121116 50%, #0f0f11 100%) 50% 50% repeat-x !important;
            background: -o-linear-gradient(left, #0f0f11 0, #121116 50%, #0f0f11 100%) 50% 50% repeat-x !important;
            background: -ms-linear-gradient(left, #0f0f11 0, #121116 50%, #0f0f11 100%) 50% 50% repeat-x !important;
            
           
             background: linear-gradient(left, #0f0f11 0, #121116 50%, #0f0f11 100%) 50% 50% repeat-x !important;

            left: 71px !important;
            z-index: 1 !important;
        }

        #slider-vertical-right.ui-widget-content {

            background: linear-gradient(left, #0c0c0e 0, #121116 50%, #0c0c0e 100%) 50% 50% repeat-x !important;
            background: -webkit-linear-gradient(left, #0c0c0e 0, #121116 50%, #0c0c0e 100%) 50% 50% repeat-x !important;
            background: -o-linear-gradient(left, #0c0c0e 0, #121116 50%, #0c0c0e 100%) 50% 50% repeat-x !important;
            background: -ms-linear-gradient(left, #0c0c0e 0, #121116 50%, #0c0c0e 100%) 50% 50% repeat-x !important;
            background: -moz-linear-gradient(left, #0c0c0e 0, #121116 50%, #0c0c0e 100%) 50% 50% repeat-x !important;
                        
            left: 70px !important;
            z-index: 2 !important;
        }

        .ui-widget-content div.ui-slider-range {
            border-radius: 0 !important;
            outline: none !important;
        }

        #slider-vertical-left.ui-widget-content div.ui-slider-range {

            background: linear-gradient(left, #4f4522 0, #d8b93c 50%, #4f4522 100%) 50% 50% repeat-x !important;
            background: -moz-linear-gradient(left, #4f4522 0, #d8b93c 50%, #4f4522 100%) 50% 50% repeat-x !important;
            background: -o-liner-gradient(left, #4f4522 0, #d8b93c 50%, #4f4522 100%) 50% 50% repeat-x !important;
            background: -ms-linear-gradient(left, #4f4522 0, #d8b93c 50%, #4f4522 100%) 50% 50% repeat-x !important;
            background: -webkit-linear-gradient(left, #4f4522 0, #d8b93c 50%, #4f4522 100%) 50% 50% repeat-x !important;


            
        }

        #slider-vertical-right.ui-widget-content div.ui-slider-range {

            background: linear-gradient(left, #572526 0, #f35051 50%, #572526 100%) 50% 50% repeat-x !important;
            background: -moz-linear-gradient(left, #572526 0, #f35051 50%, #572526 100%) 50% 50% repeat-x !important;
            background: -o-linear-gradient(left, #572526 0, #f35051 50%, #572526 100%) 50% 50% repeat-x !important;
            background: -ms-linear-gradient(left, #572526 0, #f35051 50%, #572526 100%) 50% 50% repeat-x !important;
            background: -webkit-linear-gradient(left, #572526 0, #f35051 50%, #572526 100%) 50% 50% repeat-x !important;
        }
/*
    -----------------------------4.Service-----------------------------
*/
#service{
    display:block;
}

div.service-log p{

  text-align: center;
  font-size: 20px;
  width: 377px;
  font-family: Alef;
  font-style:italic;
  padding-bottom: 15px;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  
}
div.service-log h2{
    height:auto;
      width: 377px;
  text-align: center;
  font-family: Bevan;
  font-size: 57px;
  color: #fff;
  
  margin: 80px auto 0;
  padding: 15px 0 0 0;

  border-top: 1px solid #fff;
  line-height: 69px;
}
.hexa-group+hr{
    border:1px solid rgba(255,255,255,0.1);
    width: 100%;
}
.all-serv{
    margin:auto;
    width:160px;
    height:60px;
    border:2px solid #fff;
    background-color:#1a1a1a;
    border-radius:30px;
    font-family:Alef;
    color:#fff;
    text-align:center;
    font-size:24px;
    padding-top:10px;
    position:relative;
    top: -52px;
    /*left: 493px;*/
}
.circle-info {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    font-family: alef;
    font-size: 14px;
    padding-top: 60px;
    float: left;
    margin: 6px 12px;
    border-radius: 100%;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    display: none;
    
    
    position: relative;
    z-index: 1;

    -o-transition: width 1s,height 1s;
    -webkit-transition: width 1s,height 1s;
    -moz-transition: width 1s,height 1s;
    transition: width 1s,height 1s;
}
#active-circle {
    width: 300px;
    height: 300px;
    margin: 12px 24px 12px 24px;
    /*opacity: 0;

    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;*/
}


@-moz-keyframes opacity_animation {

    from { opacity:0;   }
    to { opacity:1; }

        }

@-webkit-keyframes opacity_animation {
    from { opacity:0;   }
    to { opacity:1; }


        }

@keyframes opacity_animation {

    from { opacity:0;   }
    to { opacity:1; }


        }


.Allcircle {

      border: 1px solid transparent;
      border-radius: 100%;

    -moz-animation-name: opacity_animation;
    -o-animation-name: opacity_animation;
    -webkit-animation-name: opacity_animation;
    animation-name: opacity_animation;
    
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/*.circle-info:hover{
    border-color:#6d5ea5;
    color:#6d5ea5;
}*/

    #active-circle.filter-brand:not(p) {
    
    border-color:#609d9e;
    color:#609d9e;
    
    }

    #active-circle.filter-webInter:not(p) {
    
    border-color:#7e505d;
    color:#7e505d;
    
    }
    
   #active-circle.filter-manegment:not(p) {

    border-color:#584d85;
    color:#584d85;

}

   #active-circle.filter-marketing:not(p) 
{
    border-color:#c17366;
    color:#c17366;
}

   #active-circle.filter-contGener:not(p)  
{
    border-color:#9f8a31;
    color:#9f8a31;
}




.filter-brand:hover
{
    border-color:#609d9e;
    color:#609d9e;    
}

.filter-webInter:hover 
{
    border-color:#7e505d;
    color:#7e505d;
}


.filter-manegment:hover 
{
    border-color:#584d85;
    color:#584d85;
}

.filter-marketing:hover 
{
    border-color:#c17366;
    color:#c17366;
}

.filter-contGener:hover 
{
    border-color:#9f8a31;
    color:#9f8a31;
}

#cicle-group-info{
    width:100%;
    min-height:225px;
    padding:0 63px;
}
.closeIcon {
    width: 35px;
    height: 35px;
    position: absolute;
    border: 2px solid;
    border-color:inherit;
    border-radius: 100%;
    color: inherit;
    top: 0px;
    opacity: 0;
    font-family: FontAwesome;
    font-size: 22px;
    text-rendering: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
     -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    
    z-index: 3;
    
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 .closeIcon:before{
     content:"\f00d"
 }
 span.add{
  
          z-index: 0;
  font-size: 26px;
  font-family: alef;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 27px;
  display: block;
  width: 251px;
  height: 108px;
  border: 1px transparent black;
  border-radius: 0px 0px 190px 190px;
  margin: 0 auto;

 }
 p.circle-content{
     font-size: 15px;
  font-family: alef;
  display: block;
  width: 244px;
  text-align: center;
  margin: 9px auto 0px;
  color:#fff;
    z-index: 2;
 }
 span.circle-head{

  

  z-index: 2;
  font-size: 18px;
  font-family: alef;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 10px;
  display: block;
 }
/*
    -----------------------------6.Contact Us-----------------------------
*/

.contactUs {
    width: 700px;
    border: 0 solid green;
    margin: auto;
}

.contName {
    width: 300px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 50px;
    margin: 80px auto 40px;
    color: white;
    font-family: Bevan;
    padding-bottom: 7px;
    text-align: center;
}

.chapter {
    width: 300px;
    border: 0 solid red;
    color: white;
    font-family: Alef;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 45px;
    border-bottom: 1px solid white;
}

.contactUs .circle {
    
    
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 100%;
    margin: auto;
    position: relative;
    top: -35px;
    background-color: #323232;
    background-repeat: no-repeat;
}

.contactUs img {
    width: 42px;
    height: 62px;
    margin: 0 1px 0 12px;
}

.formContact {
    width: 580px;
    border: 0 solid red;
    margin: auto;
    height: 561px;
    text-align:center;
}
.form-control {
  width: 180px !important;
  height: 42px;
  background-color: #f1f1f1;
  font-family: Alef;
  font-size: 20px;  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#checkboxClick {
    border-right: 1px solid transparent;

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.form-group {
  margin-bottom: 25px !important;
  margin-left: 1px;
}

.two {
    border: 0 solid red;
}

.tel {
    border: 0 solid red;
    width: 277px;
}

.three {
    float: left;
    width: 180px !important;
    height: 42px;
    background-color: #f1f1f1;
}



.input-group-addon {

    width: 100px !important;
}


#Myaddon 
{
    width: 40px !important;
    height:42px;
    line-height:2;
    border-color: #ccc #ccc #ccc transparent;
    border-radius: 0 4px 4px 0;
    position:relative;
    top:0;
    right:1px;
    color:#60cccc;
    float:left;
    cursor: pointer;




}


textarea {
    border-radius: 3px;
    width: 571px;
    background-color: #f1f1f1;
    height: 120px;
    font-family: Alef;
    color: #5dcbcb;
    margin-bottom: 30px;
    font-size: 18px;
}

.select {
    /*margin-left: 125px;*/
}

.bigline {
    border: 0 solid red;
    width: 330px;
    height: 35px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


input.button {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    font: 26px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #64b2b3;
    -webkit-box-shadow: 0px 0px 2px #64b2b3, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #64b2b3, inset 0px 0px 1px #ffffff;
  
    font-family: Alef;
    font-size: 25px;
}
.bigline p{
     font-size: 20px;
  font-family: Alef;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  text-align:center;
 }
#checkbox-holder {

    display:block;

    text-align:left;
    width: 180px;
    height: 0px;
    top:42px;
    background-color: #f1f1f1;
    
    -ms-overflow-style: scrollbar;
    overflow: scroll;
    overflow-x: hidden;

    position: absolute;
    margin-left: 111px;

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}


    /*#checkbox-holder.openholder {
        height:137px;
        
    }*/


.checkbox-holder input{
    display:block;
}
.Input-group-name{

  display:block;
  float:left;
  
  height: 42px;
  width:110px;
  
  padding: 6px 12px;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  color: #555;
  text-align: center;
  
  background-color: #eee;
  
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  
}
.oneIn {

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    box-sizing: border-box;
    
    color: #5dcbcb;
    background-color: #f1f1f1;
    font-family: Alef !important;
    font-size: 18px;
    
}
td label{    
    display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding-left: 35px;
  padding-top: 3px;
  font-family: Alef !important;
  font-weight:normal;
  letter-spacing: 1px;
  color: #1a1a1a;
}


input[type=checkbox] {
	display: none;
}
td label:before {
    content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0px 9px;
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 100%;
}
input[type=checkbox]:checked + label:before {
	  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  font-size: 15px;
  color: #60cccc;
  text-align: center;
  padding-top: 1px;
  line-height: 15px;
}
#focus-inp{
    display:none;
}
#checkboxClick span{
      position: relative;
  right: -60px;
  color: #60cccc;
}
#posid, #nameid, #telid, #emailid {
    
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    position: relative;
    top: 10px;
    left: 0;
    color: #f45151;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}.input-group{
     border: 2px solid transparent;
}
.formError{  border: 2px solid #f45151;
  border-radius: 6px;}  

  

/*
    -----------------------------7.Footer-----------------------------
*/
footer{
  width: 100%;
  height: 320px;
  background-color: #1a1a1a;
  border-top:2px solid rgba(255,255,255,0.3);
}
.logo{
  margin: 30px auto;
  width: 193px;
  border: 1px solid #fff;
  padding: 8px;
}
.logo+p{
  margin: 0px;
  font-family: Alef;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.social{
  width: 372px;
  margin: 10px auto;
  height: 67px;
}
.social a{
width: 55px;
  height: 55px;
  display: block;
  float: left;
  border-radius: 100%;
  font-size: 32px;
  text-align: center;
  line-height: 57px;
  color: #fff;
  margin:0px 19px;
}
footer .navbar-center{
      margin: 20px auto 40px;
}
.Facebook{
    background-color:#3b5998;
}
.Linkedin{
    background-color:#55acee;
}
.Behance{
    background-color:#1769ff;
}
.Google{
    background-color:#db4437;
}

















/*
    -----------------------------#.Conecting Fonts-----------------------------
*/
@font-face {
    font-family: 'Bevan';
    src: url('../fonts/Bevan/Bevan.otf') format('opentype');
}
/*
    -----------------------------#. Geometric-----------------------------
*/
.hex {
	/*width:300px;
	height:172px;*/
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			

	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	
    position: relative;
	float:left;
	margin:25px 11px;
	text-align:center;
	zoom:1;
    cursor: pointer;
}
		
.hex.hex-gap {
    margin-left: 86px;

}
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
        cursor:pointer;
		position: absolute;
		top: 0px;
        left:0px;
        width: 100%;
        height:100%;
        background: inherit;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;								
		z-index:-1;						
		overflow:hidden;

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;			
		backface-visibility: hidden;*/			
	}
	
	.hex .corner-1 {
		z-index:-1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  
      background: inherit;

	  /*background-repeat:no-repeat;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;	
		backface-visibility: hidden;*/				  
	}			
	

	.hex .corner-1:before {
		-webkit-transform: rotate(-60deg) translate(-87px, 0px);
		-moz-transform: rotate(-60deg) translate(-87px, 0px);
		-ms-transform: rotate(-60deg) translate(-87px, 0px);
		-o-transform: rotate(-60deg) translate(-87px, 0px);
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-48px, -11px);
		-moz-transform: rotate(60deg) translate(-48px, -11px);
		-ms-transform: rotate(60deg) translate(-48px, -11px);
		-o-transform: rotate(60deg) translate(-48px, -11px);
		transform: rotate(60deg) translate(-48px, -11px);	
		bottom:0;
	}		


	
	/* Custom styles*/
	.hex .inner {		
		color:#eee;
	}
	
	.hex h4 {
        color:white;
		font-family:Bevan;		
        font-size:28px;
        font-weight:100;
		margin:0;			
	}
	
	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}
	
	.hex p {
		font-size:20px;
		font-family:Alef;
		width:80%;
        font-style:italic;
		margin:0 auto;
	}

	.hex.hex-1 {
		background-color:#1a1a1a;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        top:50px;
        left:70px;
        width: 200px;
        height: 114px;
	}
/*
    -----------------------------HEX 2-----------------------------
*/
    .hex.hex-2 {

        margin-left: 41px;
		background-color:#1a1a1a;
        border-left:1px solid #5f9e9e;
        border-right:1px solid #5f9e9e;
        /*top:50px;
        left:100px;*/
        width: 200px;
        height: 114px;
	}
    .hex-2 .corner-1,
	.hex-2 .corner-2{
        border-left:1px solid #5f9e9e;
        border-right:1px solid #5f9e9e;}
    .hex-2 h4{
        color:#5f9e9e;
          padding-top: 27px;
    }
    .hex-2 hr{
         border-color:#5f9e9e
    }
    .hex-2 p{
        color:#5f9e9e
    }
/*
    -----------------------------HEX 3-----------------------------
*/
    .hex.hex-3 {
		background-color:#1a1a1a;
        border-left:1px solid #7e505e;
        border-right:1px solid #7e505e;
        /*top:50px;
        left:100px;*/
        width: 200px;
        height: 114px;
	}
    .hex-3 .corner-1,
	.hex-3 .corner-2{
        border-left:1px solid #7e505e;
        border-right:1px solid #7e505e;}
    .hex-3 h4{
        color:#7e505e;
          padding-top: 27px;
    }
    .hex-3 hr{
         border-color:#7e505e
    }
    .hex-3 p{
        color:#7e505e
    }
/*
   ----------------------------- HEX 4-----------------------------
*/
    .hex.hex-4 {
		background-color:#1a1a1a;
        border-left:1px solid #5b5086;
        border-right:1px solid #5b5086;
        /*top:50px;
        left:100px;*/
        width: 200px;
        height: 114px;
	}
    .hex-4 .corner-1,
	.hex-4 .corner-2{
        border-left:1px solid #5b5086;
        border-right:1px solid #5b5086;}
    .hex-4 h4{
        color:#5b5086;
    }
    .hex-4 hr{
         border-color:#5b5086
    }
    .hex-4 p{
        color:#5b5086
    }
/*
    -----------------------------HEX 5-----------------------------
*/
    .hex.hex-5 {
		background-color:#1a1a1a;
        border-left:1px solid #c27567;
        border-right:1px solid #c27567;
        /*top:50px;
        left:100px;*/
        width: 200px;
        height: 114px;
	}
    .hex-5 .corner-1,
	.hex-5 .corner-2{
        border-left:1px solid #c27567;
        border-right:1px solid #c27567;}
    .hex-5 h4{
        color:#c27567;
        padding-top: 27px;
    }
    .hex-5 hr{
         border-color:#c27567
    }
    .hex-5 p{
        color:#c27567
    }
/*
    -----------------------------HEX 6-----------------------------
*/
    .hex.hex-6 {
		background-color:#1a1a1a;
        border-left:1px solid #a08a31;
        border-right:1px solid #a08a31;
        /*top:50px;
        left:100px;*/
        width: 200px;
        height: 114px;
	}
    .hex-6 .corner-1,
	.hex-6 .corner-2{
        border-left:1px solid #a08a31;
        border-right:1px solid #a08a31;}
    .hex-6 h4{
        color:#a08a31;
        padding-top: 27px;
    }
    .hex-6 hr{
        border-color:#a08a31
    }
    .hex-6 p{
        color:#a08a31
    }
/*
 ----------------------------------------------------------
*/
    
    .hexa-group{
 
   margin-top: 110px;

 /*position: relative;
  top: 80px;
  left: -84px;*/
  width: 100%;
  height: 239px;
  /*z-index:0;*/
    }
    .hexa-group .hex p{


  font-size: 30px;
  font-family: Aria;
  width: 18px;
  font-weight: bold;
  cursor: pointer;

    }

    .hexa-group .hex h4{
  width: 100%;
  height: 92px;
  line-height: 47px;
  vertical-align: text-bottom;
  font-size: 20px;
  font-family: Alef;
  font-weight: normal;
  cursor:pointer;
    }

    .hexa-group .hex hr{
        width:40%;
    }