@-webkit-keyframes ShowBounce{
	0%{
		-webkit-transform:scale(0);
	}
	
	40%{
		-webkit-transform:scale(1.1);
	}
	
	60%{
		-webkit-transform:scale(0.9);
	}
	
	100%{
		-webkit-transform:scale(1);
	}
}

@-moz-keyframes ShowBounce{
	0%{
		-moz-transform:scale(0);
	}
	
	40%{
		-moz-transform:scale(1.1);
	}
	
	60%{
		-moz-transform:scale(0.9);
	}
	
	100%{
		-moz-transform:scale(1);
	}
}

@-ms-keyframes ShowBounce{
	0%{
		-ms-transform:scale(0);
	}
	
	40%{
		-ms-transform:scale(1.1);
	}
	
	60%{
		-ms-transform:scale(0.9);
	}
	
	100%{
		-ms-transform:scale(1);
	}
}

@-o-keyframes ShowBounce{
	0%{
		-o-transform:scale(0);
	}
	
	40%{
		-o-transform:scale(1.1);
	}
	
	60%{
		-o-transform:scale(0.9);
	}
	
	100%{
		-o-transform:scale(1);
	}
}

@keyframes ShowBounce{
	0%{
		transform:scale(0);
	}
	
	40%{
		transform:scale(1.1);
	}
	
	60%{
		transform:scale(0.9);
	}
	
	100%{
		transform:scale(1);
	}
}


@-webkit-keyframes RefTitleKeyframes1{
	0%{
		opacity:0;
		bottom:-20px;
	}
	
	100%{
		opacity:1;
		bottom:20px;
	}
}


@-webkit-keyframes RefTitleKeyframes2{
	0%{
		opacity:0;
		top:-20px;
	}
	
	100%{
		opacity:1;
		top:20px;
	}
}

@-moz-keyframes RefTitleKeyframes1{
	0%{
		opacity:0;
		bottom:-20px;
	}
	
	100%{
		opacity:1;
		bottom:20px;
	}
}


@-moz-keyframes RefTitleKeyframes2{
	0%{
		opacity:0;
		top:-20px;
	}
	
	100%{
		opacity:1;
		top:20px;
	}
}

@-ms-keyframes RefTitleKeyframes1{
	0%{
		opacity:0;
		bottom:-20px;
	}
	
	100%{
		opacity:1;
		bottom:20px;
	}
}


@-ms-keyframes RefTitleKeyframes2{
	0%{
		opacity:0;
		top:-20px;
	}
	
	100%{
		opacity:1;
		top:20px;
	}
}

@-o-keyframes RefTitleKeyframes1{
	0%{
		opacity:0;
		bottom:-20px;
	}
	
	100%{
		opacity:1;
		bottom:20px;
	}
}


@-o-keyframes RefTitleKeyframes2{
	0%{
		opacity:0;
		top:-20px;
	}
	
	100%{
		opacity:1;
		top:20px;
	}
}

@keyframes RefTitleKeyframes1{
	0%{
		opacity:0;
		bottom:-20px;
	}
	
	100%{
		opacity:1;
		bottom:20px;
	}
}


@keyframes RefTitleKeyframes2{
	0%{
		opacity:0;
		top:-20px;
	}
	
	100%{
		opacity:1;
		top:20px;
	}
}

@-webkit-keyframes ShowNavItem{
	0%{
		left:-100%;
		opacity:0;
	}
	
	100%{
		left:0px;
		opacity:1;
	}
}


@-moz-keyframes ShowNavItem{
	0%{
		left:-100%;
		opacity:0;
	}
	
	100%{
		left:0px;
		opacity:1;
	}
}


@-ms-keyframes ShowNavItem{
	0%{
		left:-100%;
		opacity:0;
	}
	
	100%{
		left:0px;
		opacity:1;
	}
}


@-o-keyframes ShowNavItem{
	0%{
		left:-100%;
		opacity:0;
	}
	
	100%{
		left:0px;
		opacity:1;
	}
}


@keyframes ShowNavItem{
	0%{
		left:-100%;
		opacity:0;
	}
	
	100%{
		left:0px;
		opacity:1;
	}
}