/* 1.Header
   2.Welcome
   3. How
   4.Service
   5.Footer
   #. Conecting Fonts
   #. Geometric
*/


body {
}
 /*
     1.Header
 */
 #header{
     display:block;
 }
 .navbar-brand{
  padding: 40px 15px;
  width: 175px;
  margin: 0px auto;
 }
 li a{
     font-family:Alef;
     font-size:20px;
     font-style:italic;
     color:#fff;
 }
 li a:hover{
     font-weight:bold;
 }
 li{
     font-family:Alef;
     font-size:20px;
     font-style:italic;
     color:#fff;
     vertical-align:central;
 }
 .navbar-center{
     width:680px;
     height:35px;
     margin:40px auto 0px;
 }
 .opac-layout-50{
     background:rgba(0,0,0,0.5);
 }
/*
    2.Welcome
*/
#welcome{
    display:block;
    height:600px;
}
.oran-grad{
    position:absolute;
    z-index:0;
}
.lil-grad{
  position: absolute;
  z-index: 0;
  left: 16px;
  top: 183px;
}
.lil-grad img{
    width:1100px;
}
.prisma{
    position:absolute;
    left:345px;
    z-index:3;
}
.shadow{
    position:absolute;
     left:512px;
    top: 167px;
    z-index: -1;
}
.welc{
    position:absolute;
    z-index:4;
    left:650px;
    top:150px;
}
/*
    3.What
*/
#what{
    display:block;
}
.assets img{
    display:block;
    width:45px;
    margin:0px auto 15px;

}
div h2{
    width: auto;
    text-align: center;
    font-family: Chunkfive;
    font-size: 60px;
    color: #fff;
    margin: 80px 0px 0px 0px;
    line-height: 30px;
}
div.span+p{
    width:auto;
    text-align:center;
    padding:20px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    color:#fff;
    font-family:alef;
    font-size:20px;
}
.opac-line{
    width:250px;
    opacity:0.3;

}
 div.span{
    width: 100%;
    text-align: center;
    font-family: Alef;
    font-style: italic;
    font-size: 24px;
    padding: 6px 60px 10px;
    color: #fff;
    position:relative;
}
.squer{
    position:absolute;
    left:0px;
    bottom:-2px;
    width:20px;
    height:4px;
    background-color:#fff
}
.RXD {
    margin-top: 80px;
    height:86px;
    width: 390px;
    background-image: url('img/bg-rxd.png');
    position:relative;
}
.RXD p{
    line-height:86px;
    width:100%;
    font-family:Alef;
    font-weight:bold;
    font-size:32px;
    text-align:center;
    color:#fff;
    letter-spacing:10px;
}
.RXD+p{
     width:100%;
    font-family:Alef;
    font-size:12px;
    text-align:center;
    color:#fff;
    margin-top:15px;
    word-spacing:2px;
}
.circle{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:100%;
    padding:2px;
    border:1px solid #fff;
}

.circle-top-1{
    top:-11px;
    left:65px;
}
.circle-top-2{
    top:-11px;
    left:165px;
}
.circle-bot{
    bottom:-11px;
    right:75px;
}
.circle .plus{
    width:19px;
    height:19px;
    border-radius:100%;
    background-color:#fff;
    text-align:center;
    font-weight:900;
    transition: background-color 1s;
    cursor:pointer;
}
.circle .plus:hover{
    background-color:#52b2cf;
}
.mans{
  position: relative;
  width: 700px;
  height: 100px;
  margin: 0px auto 35px;
}
.hex-container{
    width:100%;
    height:270px;
}
.hum-line-container{
    width:630px;
    height:30px;
    border-left:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(255,255,255,0.5);
    padding:10px 30px 5px;
    float:left;
}
.hum-line{
    height:13px;
    box-shadow: 0px 2px 4px 1px #000000 inset;
    background-color:#111014;
}
.pointer{
    width:21px;
    height:21px;
    border:1px solid #000;
    border-radius:100%;
    background-color:#626262;
    position:absolute;
    top:86px;
    
}
.pointer-1{left:60px;}
.pointer-2{left:411px;}
.pointer-3{left:609px;}
.hum-dot {
    width:20px;
    height:22px;
    float:left;
    margin: 4px 7px 0px;
}
.figures{
    width:100%;
    height:80px;
}
div.figures img{
    position:relative;
}
.man2{left:19px}
.man3{left: 33px; top: -6px;}
.man4{top: -6px;  left: 37px;}
.man5{top: -6px;  left: 41px;}
.man6{left: 111px;}
.man7{left: 253px;}
.gift{left: 263px;top: -11px;}
.basket{left: 197px;top: 17px;}
.miksher{
    position:relative;
    width:700px;
    height:390px;
    margin:0px auto;
    border-top:1px solid rgba(255,255,255,0.1);
}
.miksher>div{
    float:left;
}
.reach,.desirability{
     background: url('img/lines.png') no-repeat;
  background-position: 50% 39px;
  width: 150px;
  height: 256px;
  margin-left: 80px;
  margin-top: 50px;
}
.reach p,.desirability p{
  font-family: alef;
  font-size: 70px;
  line-height: 26px;
  color: #fff;
  text-align: center;
}
.reach span,.desirability span{
    display: block;
  font-size: 27px;
  font-family: alef;
  text-align: center;
  width: 100%;
  color: #fff;
}
.line-mik{
  width: 10px;
  height: 90px;
  margin: 20px auto 0px;
}
.btn-mik img{
  display: block;
  margin: 0px auto;
}
.non-active{
    background-color:#232129;
    box-shadow:0px 0px 4px 2px #000 inset;
    
}
.active-p{
    background-color:#d6b83c;
    box-shadow:0px 0px 4px 2px #000 inset;
    margin: 0px auto;
}
.active-p-red{
    background-color:#f35151;
    box-shadow:0px 0px 4px 2px #000 inset;
    margin: 0px auto;
}
.Ep{
  position: relative;
  top: 184px;
  left: 46px;
}
.Ep span{
      display: block;
  margin-left: 64px;
  margin-top: -24px;
  font-family: Alef;
  font-size: 27px;
  font-weight: bold;
}
.numbers{
  position: absolute;
  top: 97px;
  left: 263px;
  z-index: 10;
}
.btn-num{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f3f3f3;
  font-family: alef;
  text-align: center;
  font-size: 24px;
  border: 1px solid #000;
  box-shadow: 0px 0px 4px 1px #000 inset;
  margin: 0px 10px;

}
#how+hr{
  width: 732px;
  border-top:1px solid rgba(255,255,255,0.5);
  margin-top: 45px;
}
/*
    3. How
*/
#how{
    display:block;
    height: 3079px;
}
#how h3{
    width: 377px;
    text-align: center;
    font-family: Chunkfive;
    font-size: 60px;
    color: #fff;
    margin:80px auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.brain{
    left: 610px;
}
.how-graphics{
      display: block;
  width: 100%;
  height: 2207px;
}
.how-graphics div{
    float:left;
    position:absolute;
}
.text-box{
  width: 330px;
  left: 170px;
  top: 575px;
}
.text-box2{
top: 1240px;
}
.text-box p{
    width:100%;
    padding-bottom:15px;
    border-bottom:1px solid #fff;
    font-family:alef;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    color:#fff;
}
.text-box span{
    display:block;
    width:100%;
    font-family:alef;
    font-size:18px;
    text-align:left;
    color:#fff;
}
.big-man{
      z-index: -1;
  left: 178px;
  top: 510px;
}
.heart{
      left: 536px;
  top: 986px;
}
.infinity{
  position: relative;
  text-align: center;
  top: -191px;
  left: 8px;
}
.Fr-Fe{
  font-family: alef;
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 230px;
  height: 85px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 51px;
  top: 178px;
  left: 455px;
  background-color: rgba(33,33,33,0.91);
  vertical-align: middle;
  line-height: 79px;
}
.circ-1,.circ-2{
width:17px;
    height:17px;
    border-radius:100%;
    background-color:#fff;float:left;
    margin:0px auto;
}
.circ-1{
  position: absolute;
  top: 210px;
  left: 448px;
  z-index:5
}
.circ-2{
    position: absolute;
  top: 210px;
  right: 448px;
}
.infinity+div{
  width: 522px;
  margin: -204px auto;
}
.infinity+div p{
  font-size: 18px;
  font-family: Alef;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #fff;
  margin-top: 25px;
}
.infinity+div h2{
  font-size: 28px;
  font-family: Alef;
  font-weight: bold;
}
.determin span{
    font-size: 14px;
  font-family: Alef;
  color: #fff;
  display: block;
  margin: 25px 0px;
}
.determin{
    margin-top:50px;
}
span.bold-span{
    margin:0px;
    font-weight:bold;
    display:inline;
}
#how+hr,
#what+hr{
  width: 732px;
  border-top:1px solid rgba(255,255,255,0.1);
  margin-top: 45px;
}
/*
    Line prop
*/
.vector-line-1{
  width: 150px;
  border-top: 3px solid #ab9230;
  transform: rotate(45deg);
  left: 590px;
  top: 216px;
  border-radius: 100px;
}
.vector-line-2{
  width: 216px;
  border-top: 3px solid #4fa5a5;
  transform: rotate(138deg);
  left: 456px;
  top: 500px;
  border-radius: 100px;
}
.vector-line-3{
  width: 460px;
  border-top: 3px solid #4fa5a5;
  transform: rotate(120deg);
  left: 584px;
  top: 799px;
  border-radius: 100px;
}
.vector-line-4{
    width: 122px;
  border-top: 3px solid #4fa5a5;
  transform: rotate(139deg);
  left: 451px;
  top: 1210px;
  border-radius: 100px;
}
.vector-line-5{
      width: 600px;
  border-top: 3px solid #d14343;
  transform: rotate(135deg);
  left: 314px;
  top: 1588px;
  border-radius: 100px;
}
.vector-line-6{
    width: 800px;
  border-top: 3px solid #fff;
  transform: rotate(45deg);
  left: 285px;
  top: 2081px;
  border-radius: 100px;
}
.vector-line-7{
      width: 455px;
  border-top: 3px solid #fff;
  transform: rotate(135deg);
  left: 258px;
  top: 2204px;
  border-radius: 100px;
}
/*
    4.Service
*/
#service{
    display:block;
}
.service-log p{
      text-align: center;
  font-size: 20px;
  width: 377px;
  font-family: Alef;
  padding-bottom: 7px;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 0px auto;
}
.service-log h2{
      width: 377px;
  text-align: center;
  font-family: Chunkfive;
  font-size: 60px;
  color: #fff;
  margin: 80px auto 0px;
  border-top: 1px solid #fff;
  line-height: 69px;
}
.hexa-group+hr{
    border:1px solid rgba(255,255,255,0.1);
    width:1200px;
}
.all-serv{
    width:160px;
    height:60px;
    border:2px solid #fff;
    background-color:#1a1a1a;
    border-radius:30px;
    font-family:Alef;
    color:#fff;
    text-align:center;
    font-size:24px;
    padding-top:10px;
    position:relative;
    top: -52px;
    left: 493px;
}
.circle-info{
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  font-family: alef;
  font-size: 14px;
  padding-top: 60px;
  float: left;
  margin: 6px 20px;;
  border-radius: 100%;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 300;
  cursor:pointer;
}
.circle-info:hover{
    border-color:#6d5ea5;
    color:#6d5ea5;
}
/*
    5.Footer
*/
footer{
  width: 100%;
  height: 320px;
  background-color: #1a1a1a;
  border-top:2px solid rgba(255,255,255,0.3);
}
.logo{
  margin: 30px auto;
  width: 193px;
  border: 1px solid #fff;
  padding: 8px;
}
.logo+p{
  margin: 0px;
  font-family: Alef;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.social{
  width: 372px;
  margin: 10px auto;
  height: 67px;
}
.social a{
width: 55px;
  height: 55px;
  display: block;
  float: left;
  border-radius: 100%;
  font-size: 32px;
  text-align: center;
  line-height: 57px;
  color: #fff;
  margin:0px 19px;
}
footer .navbar-center{
      margin: 20px auto 40px;
}
footer .navbar-center li a:hover{
      text-decoration:underline;
}
.Facebook{
    background-color:#3b5998;
}
.Linkedin{
    background-color:#55acee;
}
.Behance{
    background-color:#1769ff;
}
.Google{
    background-color:#db4437;
}
















/*
    #.Conecting Fonts
*/
@font-face {
    font-family: 'Chunkfive';
    src: url('fonts/ChunkFive/Chunkfive.otf') format('opentype');
}
/*
    #. Geometric
*/
.hex {
	/*width:300px;
	height:172px;*/
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 11px;
	text-align:center;
	zoom:1;
}
		
.hex.hex-gap {
    margin-left: 86px;

}
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top: 0px;
        left:0px;
        width: 100%;
        height:100%;
        background: inherit;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;								
		z-index:-2;						
		overflow:hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;			
		backface-visibility: hidden;			
	}
	
	.hex .corner-1 {
		z-index:-1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  background: inherit;
	  background-repeat:no-repeat;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;	
		backface-visibility: hidden;				  
	}			
	

	.hex .corner-1:before {
		-webkit-transform: rotate(-60deg) translate(-87px, 0px);
		-moz-transform: rotate(-60deg) translate(-87px, 0px);
		-ms-transform: rotate(-60deg) translate(-87px, 0px);
		-o-transform: rotate(-60deg) translate(-87px, 0px);
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-48px, -11px);
		-moz-transform: rotate(60deg) translate(-48px, -11px);
		-ms-transform: rotate(60deg) translate(-48px, -11px);
		-o-transform: rotate(60deg) translate(-48px, -11px);
		transform: rotate(60deg) translate(-48px, -11px);	
		bottom:0;
	}		


	
	/* Custom styles*/
	.hex .inner {		
		color:#eee;
	}
	
	.hex h4 {
		font-family:Chunkfive;		
        font-size:28px;
        font-weight:100;
		margin:0;			
	}
	
	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}
	
	.hex p {
		font-size:20px;
		font-family:Alef;
		width:80%;
        font-style:italic;
		margin:0 auto;
	}

	.hex.hex-1 {
		background-color:#1a1a1a;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        top:50px;
        left:70px;
        width: 200px;
        height: 114px;
	}
/*
    HEX 2
*/
    .hex.hex-2 {
		background-color:#1a1a1a;
        border-left:1px solid #5f9e9e;
        border-right:1px solid #5f9e9e;
        top:50px;
        left:100px;
        width: 200px;
        height: 114px;
	}
    .hex-2 .corner-1,
	.hex-2 .corner-2{
        border-left:1px solid #5f9e9e;
        border-right:1px solid #5f9e9e;}
    .hex-2 h4{
        color:#5f9e9e;
          padding-top: 27px;
          cursor:pointer;
    }
    .hex-2 hr{
         border-color:#5f9e9e
    }
    .hex-2 p{
        color:#5f9e9e
    }
/*
    HEX 3
*/
    .hex.hex-3 {
		background-color:#1a1a1a;
        border-left:1px solid #7e505e;
        border-right:1px solid #7e505e;
        top:50px;
        left:100px;
        width: 200px;
        height: 114px;
	}
    .hex-3 .corner-1,
	.hex-3 .corner-2{
        border-left:1px solid #7e505e;
        border-right:1px solid #7e505e;}
    .hex-3 h4{
        color:#7e505e;
          padding-top: 27px;
          cursor:pointer;
    }
    .hex-3 hr{
         border-color:#7e505e
    }
    .hex-3 p{
        color:#7e505e
    }
/*
    HEX 4
*/
    .hex.hex-4 {
		background-color:#1a1a1a;
        border-left:1px solid #5b5086;
        border-right:1px solid #5b5086;
        top:50px;
        left:100px;
        width: 200px;
        height: 114px;
	}
    .hex-4 .corner-1,
	.hex-4 .corner-2{
        border-left:1px solid #5b5086;
        border-right:1px solid #5b5086;}
    .hex-4 h4{
        color:#5b5086;
        cursor:pointer;
    }
    .hex-4 hr{
         border-color:#5b5086
    }
    .hex-4 p{
        color:#5b5086
    }
/*
    HEX 5
*/
    .hex.hex-5 {
		background-color:#1a1a1a;
        border-left:1px solid #c27567;
        border-right:1px solid #c27567;
        top:50px;
        left:100px;
        width: 200px;
        height: 114px;
	}
    .hex-5 .corner-1,
	.hex-5 .corner-2{
        border-left:1px solid #c27567;
        border-right:1px solid #c27567;}
    .hex-5 h4{
        color:#c27567;
        padding-top: 27px;
        cursor:pointer;
    }
    .hex-5 hr{
         border-color:#c27567
    }
    .hex-5 p{
        color:#c27567
    }
/*
    HEX 6
*/
    .hex.hex-6 {
		background-color:#1a1a1a;
        border-left:1px solid #a08a31;
        border-right:1px solid #a08a31;
        top:50px;
        left:100px;
        width: 200px;
        height: 114px;
	}
    .hex-6 .corner-1,
	.hex-6 .corner-2{
        border-left:1px solid #a08a31;
        border-right:1px solid #a08a31;}
    .hex-6 h4{
        color:#a08a31;
        padding-top: 27px;
        cursor:pointer;
    }
    .hex-6 hr{
        border-color:#a08a31
    }
    .hex-6 p{
        color:#a08a31
    }
/*
    --------------------------------------------
*/
    
    .hexa-group{
  position: relative;
  top: 80px;
  left: -84px;
    width: 100%;
  height: 400px;
    }
    .hexa-group .hex p{
          font-size: 30px;
  font-family: Aria;
  font-weight: bold;
    }
    .hexa-group .hex h4{
  width: 100%;
  height: 92px;
  line-height: 47px;
  vertical-align: text-bottom;
  font-size: 20px;
  font-family: Alef;
  font-weight: normal;
    }

    .hexa-group .hex hr{
        width:40%;
    }