body {
    background-color: #323232;
}

.contactUs {
    width: 700px;
    border: 0 solid green;
    margin: auto;
}

.contName {
    width: 300px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 50px;
    margin: auto;
    color: white;
    font-family: ChunkFive;
    padding-bottom: 7px;
    text-align: center;
}

.chapter {
    width: 300px;
    border: 0 solid red;
    color: white;
    font-family: Alef;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 45px;
    border-bottom: 1px solid white;
}

.circle {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 100%;
    margin: auto;
    position: relative;
    top: -35px;
    background-color: #323232;
    background-repeat: no-repeat;
}

img {
    width: 42px;
    height: 62px;
    margin-left: 13px;
    margin-top: 4px;
}

.formContact {
    width: 570px;
    border: 0 solid red;
    margin: auto;
    height: 500px;
}

.oneIn {
    color: #5dcbcb;
    background-color: #f1f1f1;
    font-family: Alef !important;
    font-size: 18px;
    height: 42px;
}

.form-control {
    width: 180px !important;
    height: 42px;
    background-color: #f1f1f1;
}

.form-group {
    margin-bottom: 30px !important;
}

.two {
    border: 0 solid red;
}

.tel {
    border: 0 solid red;
    width: 277px;
}

.three {
    float: left;
    width: 180px !important;
    height: 42px;
    background-color: #f1f1f1;
}

.input-group-addon {
    width: 100px !important;
}

textarea {
    border-radius: 3px;
    width: 565px;
    background-color: #f1f1f1;
    height: 120px;
    font-family: Alef;
    color: #5dcbcb;
    margin-bottom: 30px;
    font-size: 18px;
}

.select {
    margin-left: 150px;
}

.bigline {
    border: 0 solid red;
    width: 330px;
    height: 35px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div p {
    color: white;
    text-align: center;
    font-family: Alef;
    font-size: 20px;
}

a.button {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    font: 26px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #64b2b3;
    -webkit-box-shadow: 0px 0px 2px #64b2b3, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #64b2b3, inset 0px 0px 1px #ffffff;
    margin-left: 220px;
    font-family: Alef;
    font-size: 25px;
}
